*{
	padding: 0;margin: 0;
}

#introduction{
	width: 50%;
	align-content: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 50px;
	border: solid 3px orange;
	border-radius: 5em 0 5em 0;
	background-color: grey;
	font-family:"Times New Roman",Georgia,Serif;
	font-size: 18px;
}

#mapb {
	height: 600px; 
	width: 900px;
	margin-left: 0px; 
	display: inline-block;
}

#areab { 
	height: 600px; 
	width: 500px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	display: inline-block; 
	float: right;
}

#areab li{ 
	list-style: none; 
	height: 300px; 
	width: 500px; 
	float: right; 
}

#logoarea{
	height: 200px; 
	width: 450px;
	text-align: middle;
}

#logo {
	height: 300px; 
	text-align: middle;
}

header{ 
	height: 200px; 
	background: #f2f2f2; 
	font-weight: bold; 
	text-align: center; 
	line-height: 200px; 
}

#nav{ 
	width: 100%; 
	height: 50px; 
	background: #333; 
}

#nav ul{ 
	width: 900px; 
	margin: 0 auto; 
}

#nav li{ 
	list-style: none;  
	float: left; 
}

#nav li a{ 
	font-size: 16px; 
	height: 50px; 
	color: #fff; 
	padding: 0 60px; 
	line-height: 50px; 
	text-decoration: none; 
	display: inline-block; 
}

#nav li a:hover{ 
	background: #666; 
}

#search_area{
	margin:0;
	padding:0px; 
	margin-top: 40px;
}

#magsearch{
	width: 40%; 
	float: left; 
	border: black solid 2px; 
	display: inline-block;
}

#datesearch{
	display: inline-block; 
	margin-left: 50px; 
	border: black solid 2px; 
	width: 40%;
}

#copy-right{
	text-align: center;
    font-size: 16px;
    margin: 0;
    padding-top: 35px;
}

.demo-input{
	padding-left: 10px; 
	height: 38px; 
	min-width: 262px; 
	line-height: 38px; 
	border: 1px solid #e6e6e6;  
	background-color: #fff;  
	border-radius: 2px;
}

.demo-footer{
	padding: 50px 0; 
	color: #999; 
	font-size: 14px;
}

.demo-footer a{
	padding: 0 5px; 
	color: #01AAED;
}